@import 'tailwindcss';
@tailwind utilities;

:root {
   --background: #ffffff;
   --foreground: #171717;
}

@theme {
   /* --color-main: #5371ff; */
   --color-main: #5c7cab;
   --color-fondo: #d6dfe7;
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}

/* Remove number input spinners */
@layer base {
   /* Chrome, Safari, Edge, Opera */
   input[type='number']::-webkit-outer-spin-button,
   input[type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }

   /* Firefox */
   input[type='number'] {
      appearance: textfield;
      -moz-appearance: textfield;
   }
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: #0a0a0a;
      --foreground: #ededed;
   }
}

body {
   background: var(--background);
   color: var(--foreground);
   font-family: Arial, Helvetica, sans-serif;
}

/* ACA EMPIEZA LO MIO */
.sectionMain {
   padding: 1rem;
   background: var(--color-fondo);
   height: 100vh;
}
